<!DOCTYPE html>
<html lang="en">
{% load pwa %}
{% load static %}
    <head>
        {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Android-->
        <meta name="theme-color" content="#455A64" />
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#455A64">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <title>
            {% block title %}
                MedTour
            {% endblock %}
        </title>
        <link rel="icon" type="image/png" href="{% static 'icons/icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/uikit-rtl.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">

    </head>
    <script type="text/javascript" src="{% static 'js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/uikit-icons.min.js' %}"></script>
    <body>
        <header>
            <div uk-sticky="show-on-up: true; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar; animation: uk-animation-slide-top;">
                <nav class="uk-navbar-container uk-text-bold uk-navbar-transparent uk-box-shadow-hover-small" uk-navbar style="position: relative; z-index: 980;">
                    <div class="uk-navbar-left">
                        <a class="uk-navbar-item uk-logo" href="{% url 'land' %}">
                            <img src="{% static 'icons/bone.png' %}" width="58px" style="margin-right: 10px;">
                            MedTour</a>
                    </div>

                    <div class="uk-navbar-right uk-margin-right">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active"><a href="{% url 'home' %}">Home</a></li>
                            {% if user.is_authenticated %}
                                <li>
                                <a href="#">{{ user.first_name }}</a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{% url 'settings' %}">Settings</a></li>
                                        <li><a href="{% url 'password' %}">Set/Change Password</a></li>
                                        <li><a href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                            {% endif %}

                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>

                </nav>
            </div>
        </header>
        <div class="site-content">
            {% block body %}

            {% endblock %}
        </div>
        <footer>
            <div align="center" class="footer-wrapper uk-box-shadow-small uk-box-shadow-hover-xlarge">
                <div class="uk-margin-small-left uk-margin-small-right uk-margin-small-top uk-padding-small uk-padding-remove-left uk-padding-remove-right">
                    <span class="uk-text-bold uk-text-small">
                        <hr>
                        Developed by 2AM Developers
                    </span>
                </div>
            </div>
    </footer>
    </body>
</html>
