{% extends 'landing/base.html' %}
{% load static %}
{% block title %}
    {% if user.hospital %}
        Dashboard | {{ user.hospital.name }}
    {% else %}
        MedTour | Appointments
    {% endif %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-padding-small">
        <div class="uk-width-1-1 uk-margin-remove" uk-grid>
            <div class="uk-card uk-width-1-1 uk-card-default uk-padding-remove uk-card-hover">
                <div class="uk-card-header">
                    <h2>Appointments at {{ hospital }}</h2>
                </div>
                <div class="uk-card-body"></div>
                    <table class="uk-table uk-table-responsive uk-table-hover uk-table-divider">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Patient</th>
                                <th>Description</th>
                                <th>Time</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                                <tr style="cursor: pointer" href="#{{ appointment.id }}appointment-modal" uk-toggle>
                                    <td>
                                        <img class="uk-border-circle" width="30" height="30" src="{{ appointment.doctor.user.profile.avatar_small }}">
                                        <span> </span>
                                        <a href="{{ appointment.doctor.get_url }}" class="uk-text-bold uk-button uk-button-text">{{ appointment.doctor.name }}</a>
                                    </td>
                                    <td>
                                        {% if appointment.patient.user.profile.avatar %}
                                            <img src="{{ appointment.patient.user.profile.avatar_small }}" class="uk-border-circle" width="30" height="30">
                                        {% else %}
                                            {% if appointment.patient.user.profile.gender == 'f' %}
                                                <img src="{% static 'images/female.png' %}" class="uk-border-circle" width="30" height="30">
                                            {% else %}
                                                <img src="{% static 'images/anon.png' %}" class="uk-border-circle" width="30" height="30">
                                            {% endif %}
                                        {% endif %}
                                        <span> </span>
                                        <a class="uk-text-bold uk-button uk-button-text">{{ appointment.patient.user.first_name }}</a>
                                    </td>
                                    <td>{{ appointment.patients_remarks|truncatechars:15 }}</td>
                                    <td>
                                        {% if appointment.start_date or appointment.end_date %}
                                            {{ appointment.start_date }} to {{ appointment.end_date }}
                                        {% else %}
                                            Not Available
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if appointment.approved %}
                                            <span class="uk-badge uk-label-success uk-padding-small">Approved</span>
                                        {% elif appointment.rejected %}
                                            <span class="uk-badge uk-label-danger uk-padding-small">Rejected</span>
                                        {% else %}
                                            <span class="uk-badge uk-label-warning uk-padding-small">Pending</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <div id="{{ appointment.id }}appointment-modal" uk-modal>
                                    <div class="uk-modal-dialog">
                                        <button class="uk-modal-close-default" type="button" uk-close></button>
                                        <div class="uk-modal-header">
                                            <h2 class="uk-modal-title">Appointment Description</h2>
                                        </div>
                                        <div class="uk-modal-body">
                                            <h3 class="uk-text-meta">Age: {{ appointment.patient.user.profile.get_age }} Sex: {{ appointment.patient.user.profile.get_gender_display }}</h3>
                                            <p>{{ appointment.patients_remarks }}</p>
                                            <br>
                                            Current Status :
                                            {% if appointment.approved %}
                                                <span class="uk-badge uk-label-success uk-padding-small">Approved</span>
                                            {% elif appointment.rejected %}
                                                <span class="uk-badge uk-label-danger uk-padding-small">Rejected</span>
                                            {% else %}
                                                <span class="uk-badge uk-label-warning uk-padding-small">Pending</span>
                                            {% endif %}
                                        </div>
                                        <div class="uk-modal-footer uk-text-right">
                                            <button class="uk-button uk-button-danger uk-border-rounded" onclick="editAppointment('{% url 'hospital:appointment-reject' appointment.id %}')" type="button">Reject</button>
                                            <button class="uk-button uk-button-primary uk-border-rounded" onclick="editAppointment('{% url 'hospital:appointment-approve' appointment.id %}')" type="button">Approve</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function editAppointment(url) {
            window.location = window.location.origin + url;
        }
    </script>
{% endblock %}
