{% extends 'landing/base.html' %}
{% load static %}

{% block title %}
    Book an appointment | MedTour
{% endblock %}

{% block body %}
    <div class="uk-container uk-margin-medium-top">
        <div class="uk-overflow-auto uk-height-max-large">
             <form enctype="multipart/form-data" class="uk-table-responsive entry-input-form" action="#" method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <input class="uk-width-auto uk-button uk-button-secondary uk-margin-small uk-align-center uk-border-rounded" type="reset" value="Clear changes"/>
                <input class="uk-width-auto uk-button uk-button-primary uk-margin-small uk-align-center uk-border-rounded" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
