{% extends 'landing/base.html' %}
{% load static %}

{% block title %}
    Book an appointment | MedTour
{% endblock %}

{% block body %}
    {{ form.media }}
    <div class="uk-container uk-margin-medium-top">
        <div class="uk-overflow-auto uk-height-max-large">
             <form enctype="multipart/form-data" class="uk-table-responsive entry-input-form" action="#" method="post" novalidate>
                {% csrf_token %}
                <table class="uk-table">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="uk-text-bold">{{ form.doctor.label }}</td>
                            <td>{{ form.doctor }}</td>
                        </tr>
                        <tr>
                            <td class="uk-text-bold">{{ form.start_date.label }}</td>
                            <td>{{ form.start_date }}</td>
                        </tr>
                        <tr>
                            <td class="uk-text-bold">{{ form.end_date.label }}</td>
                            <td>{{ form.end_date }}</td>
                        </tr>
                        <tr>
                            <td class="uk-text-bold">{{ form.patients_remarks.label }}</td>
                            <td>{{ form.patients_remarks }}</td>
                        </tr>

                        <p class="uk-form-danger">{{ form.errors }} {{ form.non_field_errors }}</p>
                    </tbody>
                </table>
                <input class="uk-width-auto uk-button uk-button-secondary uk-margin-small uk-align-center uk-border-rounded" type="reset" value="Clear changes"/>
                <input class="uk-width-auto uk-button uk-button-primary uk-margin-small uk-align-center uk-border-rounded" type="submit" value="Submit" />
            </form>
        </div>
    </div>
{% endblock %}
