{% extends 'landing/base.html' %}
{% load static %}

{% block title %}
    Hospitals | MedTour
{% endblock %}

{% block body %}
    <div class="uk-container uk-margin-top">
        <div class="uk-child-width-1-4@m uk-grid-small uk-grid-match" uk-grid>
            {% if hospitals %}
                {% for hospital in hospitals %}
                    <div>
                        <div class="uk-card uk-card-secondary uk-border-rounded uk-card-body">
                            <h3 class="uk-card-title"> <a href="{{ hospital.get_url }}">{{ hospital.name }}</a></h3>
                            <p>
                                {% with ''|center:hospital.rating as range %}
                                    {% for _ in range %}
                                        <span class="uk-text-bold" uk-icon="star"></span>
                                    {% endfor %}
                                {% endwith %}
                            </p>
                            <div class="closer">
                                <p><a class="uk-text-bold" uk-icon="location"></a>{{ hospital.address }}</p>
                                <p><strong>City:</strong> {{ hospital.user.profile.city.display_name }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="uk-text-center uk-text-danger">No hospitals found</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
