{% extends 'landing/base.html' %}
{% load static %}

{% block title %}
    Hospital Profile | MedTour
{% endblock %}

{% block body %}
    <div class="uk-container">

    <div class="uk-inline">
        <img src="{% static 'images/cover-default.png' %}" alt="" class="hospital-cover">
        <div class="uk-position-bottom uk-overlay uk-overlay-default uk-text-left uk-padding-small">

            <div class="uk-margin-remove" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-width-1-1 uk-text-left uk-align-center uk-margin-medium-top uk-margin-auto-bottom">
                        <span class="uk-text-lead uk-text-bold">{{ hospital.name }}</span>
                        <br>
                        <span>
                            {{ hospital.address }}
                        </span>
                        <br>
                        <span class="uk-text-bold">Provides </span>
                        <span>
                            {{ hospital.get_all_spec }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
{#        <span class="uk-text-bold">Filter by Speciality: </span>#}
{#        <select class="uk-select uk-width-auto" id="spec" name="spec_list" onChange="">#}
{#          <option value="" selected="selected">---Select---</option>#}
{#          {% for spec in specs %}#}
{#            <option value="{{spec.id}}">{{spec.name}}</option>#}
{#          {% endfor %}#}
{#        </select>#}

        <form method="get">
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <span class="uk-text-bold">{{ filter.form.specialisation.label_tag }}</span>
                {% for spec in filter.form.specialisation %}
                  <label>
                    {{ spec.tag }} {{ spec.choice_label }}
                  </label>
                {% endfor %}
            </div>
            <button type="submit" class="uk-button uk-button-secondary uk-border-rounded">Apply filters <span uk-icon="search"></span></button>
        </form>
        <hr>
        <div class="uk-width-1-1" uk-grid>
            {% for doctor in filter.qs %}
                <div class="uk-width-1-2@l">
                    <div class="uk-card uk-card-default uk-border-rounded hover-shadow-card">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="80" height="80" src="{{ doctor.user.profile.avatar }}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom"><a class="uk-link-heading" href="{{ doctor.get_url }}">{{ doctor.name }}</a></h3>
                                <p class="uk-text-meta uk-margin-remove-top">{{ doctor.hospital }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-padding-small">
                        <p><span class="uk-text-bold">Specialisations: </span>{{ doctor.get_all_spec }}
                            <br>
                            <span class="uk-text-bold">Rating: </span>
                            {% with ''|center:doctor.rating as range %}
                                {% for _ in range %}
                                    <span
                                        {% if doctor.rating >= 3 %}
                                            class="uk-text-success"
                                        {% elif doctor.rating >= 2 and doctor.rating < 3 %}
                                            class="uk-text-warning"
                                        {% else %}
                                        {% endif %}
                                        uk-icon="star">
                                    </span>
                                {% endfor %}
                            {% endwith %}
                            <span>(10 Reviews)</span>
                        </p>
                    </div>
                    <div class="uk-card-footer uk-text-button">
                        <a href="{{ doctor.get_url }}" class="uk-button uk-text-bold uk-button-text">Book an appointment</a>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
